.header  {
    padding: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}




@media screen and (max-width: 768px) {
    .headerDesktop {
        display: none;
    }
}

