.section {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.sectionTitle {
    border-right: solid 1px var(--color-dark);
    margin: var(--padding-sides);
    line-height: 1.5;
    padding: 0 20px 0 0;
    font-size: 25px;
}

.sectionText {
    padding: 0 24px;
}

.wa {
    float: left;
    color: var(--color-mediumbeige);
    margin: 0 21px 0 0;
    line-height: 1;
}

.sectionParagraph:first-of-type {
    margin-bottom: 18px;
}

.sectionWidth {
    max-width: 900px;
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}