

.section1 {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.h2 {
    border-right: solid 1px var(--color-dark);
    margin: var(--padding-sides);
    line-height: 1.5;
    padding: 0 20px 0 0;
    font-size: 25px;
}

.about {
    padding: 0 24px;
}

.wa {
    float: left;
    color: var(--color-mediumbeige);
    margin: 0 21px 0 0;
    line-height: 1;
}

.p:first-of-type {
    margin-bottom: 18px;
}

.sectionWidth {
    max-width: 900px;
}

.juridical {
    background-color: #F0EEE9;
    height: fit-content;
    padding: 50px 22px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.juridicalContent {
    /* max-width: 900px; */
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.category {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 1px;
    padding: 1px 0;
}

.content {
    background-color: #F0EEE9;
    padding: 18px 0;
    align-items: center;
    display: flex;
    gap: 22px;
    font-weight: 400;
}

.review {
    background-color: var(--color-dark);
    box-shadow: inset 0px 1px 20px 20px rgb(0 0 0 / 9%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 100%;
}

.reviewText {
    position: absolute;
    z-index: 2;
    padding: var(--padding-sides);
    margin: 0 0 66px 0;
}

.reviewH2, .reviewP {
    color: var(--color-white);
    margin: 21px 0;
}

.quote {
    font-size: 80px;
    float: left;
    margin: 0 21px 0 0;
    width: min-content;
    line-height: 1;
    color: var(--color-lightbeige);
}

.image {
    object-fit: cover;
    height: 70vh;
    width: 100%;
    opacity: 30%;

}

@media screen and (min-width: 768px) {
    .section1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .reviewText {
        position: absolute;
        z-index: 2;
        padding: var(--padding-sides);
        margin: 0 0 106px 66px;
    }
}