:root {
  --color-white: #fff;
  --color-lightbeige: #F0EEE9;
  --color-mediumbeige: #CABD9D;
  --color-bronze: #B07E00;
  --color-blue: #8A97BD;
  --color-darkblue: #5C657D;
  --color-dark: #3D3A32;
  --font-helvetica: "helvetica-neue-lt-pro", sans-serif;
  --font-sheriborne: "sherborne-variable", sans-serif;
  --padding-sides: 0 22px;
}

* {
  box-sizing: border-box;
  margin: 0px;

}
body {
  overflow-x: hidden;
}

#root {
  font-family: "sherborne-variable", sans-serif;
  max-width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h2, h3, h4 {
  margin: 0;
  color: var(--color-dark);
}

h2, h3, h4 {
  font-family: var(--font-sheriborne);
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 56px;
  font-weight: 400;
}

h4 {
  font-size: 22px;
}

p {
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--color-dark);
  line-height: 22px;
}


